*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.header {
    background: hotpink;
    color: white;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3p 8px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

* {
    font-family: "Bubblegum Sans";
}

h1 {
    text-align: center;
    font-size: 40px;
}