*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.header {
    background: hotpink;
    color: white;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3p 8px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

* {
    font-family: "Bubblegum Sans";
}

h1 {
    text-align: center;
    font-size: 40px;
}

.card {
    margin: 20px 10%;
    border: 5px solid #252629;
    padding: 3% 10%;
    scroll-margin-top: 100px;
    border-radius: 2rem;
    position: relative;
}

.question-1 {
    text-align: center;
}

.material-symbols-outlined {
    position: absolute;
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
    bottom: 95%;
    left: 80%;
}

.answer-button {
    border: 1px solid black;
    background: none;
    padding: 3vw 7vw;
    font-size: 4vw;
}