*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

* {
    font-family: "Bubblegum Sans";
}

/* Header */

.header {
    background: hotpink;
    color: white;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3p 8px;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

h1 {
    text-align: center;
    font-size: 40px;
}

/* Question-Card */

.card {
    position: relative;
    border: 2px solid black;
    margin: 4vh;
    min-height: 60vw;
    min-width: 321.66px;
    border-radius: 1rem;
}

.question-1 {
    text-align: center;
}

.material-symbols-outlined {
    position: absolute;
    font-variation-settings:
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
    transform: scale(2);
    bottom: 94%;
    left: 80%;
}

/* .material-symbols-outlined:hover {
    font-variation-settings: 
    'FILL' 1,
    'wght' 200,
    'GRAD' 0,
    'opsz' 48;
    cursor: pointer;
} */

.answer-button {
    border: 1px solid black;
    background: none;
    padding: 3vw 7vw;
    font-size: 4vw;

}

.answer-button:hover {
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
}

ul {
    position: absolute;
    display: flex;
    padding: 0;
    bottom: 2vw;
    left: 3vw;
}

.html {
    font-size: 3vw;
    padding: 1.5vw;
    margin: 1vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
}

.flexbox {
    font-size: 3vw;
    padding: 1.5vw;
    margin: 1vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
}

.css {
    font-size: 3vw;
    padding: 1.5vw;
    margin: 1vw;
    border: 1px solid black;
    border-radius: 5px;
    background-color: beige;
}

/* Navbar */